
.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.background-image-log {
    background: url("../background-log.jpeg") center/cover no-repeat; /* Imagen por defecto */
    position: relative;
  }
  
  .background-image-log:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(220, 220, 220, 0.7), rgba(220, 220, 220, 0.7));
  }

  .background-image-home {
    background: url("../background-home.jpg") center/cover no-repeat; /* Imagen por defecto */
    position: relative;
  }
  
  .background-image-home:before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500));
  }

  .logo {
    border-radius: 50%;
    transform: translate(0%, 30%);
    border: 4px solid #0F4957; /* Cambia 'blue' al color que prefieras */
    overflow: hidden; /* Asegura que la imagen siga siendo redonda incluso si no tiene un formato cuadrado */
  }

  .custom-bar {
    border-bottom: 4px solid #0F4957; /* Cambia el color según tus preferencias */
    border-radius: 0 0 20px 20px; /* Ajusta las esquinas según tus preferencias */
  }

  .character {
    font-size: 30px;
    border-radius: 50%;
    border-color: #0F4957;
   
    /* light theme */
    background-color: #0f49577d;
   
  
  }
  
  .character--selected {
    position: relative;
    outline: 1px solid #0F4957;
    color: #0F4957;
  }

  .custom-swal-container {
    z-index: 9999; /* Ajusta el z-index según sea necesario para que esté sobre otros elementos */
  }

  @media screen and (max-width: 1350px) {

    .character {
      font-size: 20px;
    }
  }
  
  
  @media screen and (max-width: 800px) {
  
    .character {
      font-size: 15px;
    }
  }